In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("weight-height.csv")

In [3]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
dataset.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [5]:
#to see initial top 5 records
dataset.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [12]:
y = dataset['Weight']

In [13]:
x = dataset['Height']

In [14]:
x

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [15]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [16]:
x.shape

(10000,)

In [6]:
from keras.models import Sequential

In [7]:
model = Sequential()

In [8]:
from keras.layers import Dense

In [9]:
model.add(Dense(bias_initializer = "zeros", kernel_initializer = "zeros", units = 1, activation = 'linear',input_shape = (1,)))

In [10]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(optimizer=Adam(),loss='mean_squared_error')

In [19]:
from keras.optimizers import Adam

In [21]:
model.fit(x,y)

313/313 [==============================] - 13s 564us/step - loss: 25469.7931

In [22]:
model.get_weights()

[array([[0.30365294]], dtype=float32), array([0.30368125], dtype=float32)]

In [23]:
model.predict([100])

array([[30.668974]], dtype=float32)

In [24]:
model.save('mywh.h5')